body {
  background-color: #91baf0;
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
  font-family:Verdana,sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.maindiv {
  background-color: #f2f2f2;
  align:center;
}

.contentdiv {
  padding: 30px;
  align:center;
}


figure{
   width:100%;
   overflow:hidden;
   margin:0;
}
figure img{
   display:block;
   width:100%;
   margin:-11.875% 0;
}

a {
  text-decoration: none;
  color: #0169dc;
}

a:link {
  text-decoration: bold;
  color: #0169dc;
}

a:visited {
  text-decoration: bold;
  color: #0169dc;
}

a:hover {
  text-decoration: underline;
  color: #993e1f;
}

a:active {
  text-decoration: underline;
  color: #993e1f;
}
