<link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />

<html>
  <head>
    <title>Personal Site</title>
  </head>
  <body>
    <div class="maindiv">
      <figure>
        <img src="https://www.tours-tickets.com/media/771162/canals_amsterdam_blog_1.jpg?crop=0,0.026290131624765078,0,0&cropmode=percentage&width=1660&height=780&rnd=131959243240000000">
      </figure>
      <div class="contentdiv">
      <h1>About Me!</h1>
      <p>My name is Jalena and I like to travel.
        This website is a place for me to share my favorite destinations.</p>
      </div>
    </div>
  </body>
</html>
