<link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />

<html>
  <head>
    <title>Personal Site</title>
  </head>
  <body>
    <div class="maindiv">
      <figure>
        <img src="https://www.discovergreece.com/~/media/images/article-background-images/santorini-the-one-and-only/santorini-view.ashx">
      </figure>
      <div class="contentdiv">
      <h1>Welcome!</h1>
      <p>I like to travel. Here's my website about my favorite places.</p>
      <p><a href="/about">About Me</a> | <a href="/blog">Blog</a>
      </div>
      </div>
  </body>
</html>
